.table {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    border-collapse: collapse;
    background-color: #fff;
}

.table--hidden {
    display: none;
}

.table__caption {
    font-size: 22px;
    margin-top: 20px;
    padding: 10px 5px;
    background-color: #fff;
}

.table__cell--header {
    color: #eee;
    background-color: #0e6746;
    font-style: normal;
    font-weight: normal;
}

.table__cell--header:hover {
    background-color: hsl(158, 76%, 30%);
}

.table__cell {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table__row:hover {
    background-color: #ddd;
}