.tableContainer {
  overflow-x: auto;
}

.tableContainer__button {
  display: block;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #fff;
  background-color: #0e6746;
  border-radius: 10px;
}

.tableContainer__button:focus {
  outline: none;
  border-color: black;
}

.tableContainer__button:hover {
  background-color: hsl(158, 76%, 30%);
}

.tableContainer__button:active {
  background-color: hsl(158, 76%, 40%);
  outline: none;
}

.tableContainer__paragraph {
  margin: 10px auto;
  padding: 10px 5px;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}

.tableContainer__paragraph--hidden {
  display: none;
}